<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-dimension-heading" jhiTranslate="majerithzAnalySisApp.dimension.home.createOrEditLabel">Create or edit a Dimension</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dimension.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="dimension.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="majerithzAnalySisApp.dimension.dimensionTypeCode" for="field_dimensionTypeCode">Dimension Type Code</label>
                    <select class="form-control" name="dimensionTypeCode" [(ngModel)]="dimension.dimensionTypeCode" id="field_dimensionTypeCode" >
                        <option value="D">{{'majerithzAnalySisApp.DimensionsTypeCode.D' | translate}}</option>
                        <option value="I">{{'majerithzAnalySisApp.DimensionsTypeCode.I' | translate}}</option>
                        <option value="C">{{'majerithzAnalySisApp.DimensionsTypeCode.C' | translate}}</option>
                        <option value="A">{{'majerithzAnalySisApp.DimensionsTypeCode.A' | translate}}</option>
                        <option value="T">{{'majerithzAnalySisApp.DimensionsTypeCode.T' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="majerithzAnalySisApp.dimension.dimensionDimension" for="field_dimensionDimension">Dimension Dimension</label>
                    <input type="text" class="form-control" name="dimensionDimension" id="field_dimensionDimension"
                        [(ngModel)]="dimension.dimensionDimension" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="majerithzAnalySisApp.dimension.dimensionDescription" for="field_dimensionDescription">Dimension Description</label>
                    <input type="text" class="form-control" name="dimensionDescription" id="field_dimensionDescription"
                        [(ngModel)]="dimension.dimensionDescription" maxlength="5000"/>
                    <div [hidden]="!(editForm.controls.dimensionDescription?.dirty && editForm.controls.dimensionDescription?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dimensionDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5000 }">
                        This field cannot be longer than 5000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="majerithzAnalySisApp.dimension.asset" for="field_asset">Asset</label>
                    <select class="form-control" id="field_asset" name="asset" [(ngModel)]="dimension.asset" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="assetOption.id === dimension.asset?.id ? dimension.asset : assetOption" *ngFor="let assetOption of assets; trackBy: trackAssetById">{{assetOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
