<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-asset-type-heading" jhiTranslate="majerithzAnalySisApp.assetType.home.createOrEditLabel">Create or edit a Asset Type</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!assetType.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="assetType.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="majerithzAnalySisApp.assetType.assetTypeCode" for="field_assetTypeCode">Asset Type Code</label>
                    <select class="form-control" name="assetTypeCode" [(ngModel)]="assetType.assetTypeCode" id="field_assetTypeCode" >
                        <option value="ESSENTIAL">{{'majerithzAnalySisApp.AssetsTypeCode.ESSENTIAL' | translate}}</option>
                        <option value="ARCH">{{'majerithzAnalySisApp.AssetsTypeCode.ARCH' | translate}}</option>
                        <option value="D">{{'majerithzAnalySisApp.AssetsTypeCode.D' | translate}}</option>
                        <option value="K">{{'majerithzAnalySisApp.AssetsTypeCode.K' | translate}}</option>
                        <option value="S">{{'majerithzAnalySisApp.AssetsTypeCode.S' | translate}}</option>
                        <option value="SW">{{'majerithzAnalySisApp.AssetsTypeCode.SW' | translate}}</option>
                        <option value="HW">{{'majerithzAnalySisApp.AssetsTypeCode.HW' | translate}}</option>
                        <option value="COM">{{'majerithzAnalySisApp.AssetsTypeCode.COM' | translate}}</option>
                        <option value="MEDIA">{{'majerithzAnalySisApp.AssetsTypeCode.MEDIA' | translate}}</option>
                        <option value="AUX">{{'majerithzAnalySisApp.AssetsTypeCode.AUX' | translate}}</option>
                        <option value="L">{{'majerithzAnalySisApp.AssetsTypeCode.L' | translate}}</option>
                        <option value="P">{{'majerithzAnalySisApp.AssetsTypeCode.P' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="majerithzAnalySisApp.assetType.assetTypeName" for="field_assetTypeName">Asset Type Name</label>
                    <input type="text" class="form-control" name="assetTypeName" id="field_assetTypeName"
                        [(ngModel)]="assetType.assetTypeName" required/>
                    <div [hidden]="!(editForm.controls.assetTypeName?.dirty && editForm.controls.assetTypeName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.assetTypeName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="majerithzAnalySisApp.assetType.assetTypeDescription" for="field_assetTypeDescription">Asset Type Description</label>
                    <input type="text" class="form-control" name="assetTypeDescription" id="field_assetTypeDescription"
                        [(ngModel)]="assetType.assetTypeDescription" maxlength="5000"/>
                    <div [hidden]="!(editForm.controls.assetTypeDescription?.dirty && editForm.controls.assetTypeDescription?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.assetTypeDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5000 }">
                        This field cannot be longer than 5000 characters.
                        </small>
                    </div>
                </div>

                <div [hidden]="!(editForm.controls.assetSubType?.dirty && editForm.controls.assetSubType?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.assetSubType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
