<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="assetType">
            <h2><span jhiTranslate="majerithzAnalySisApp.assetType.detail.title">Asset Type</span> {{assetType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="majerithzAnalySisApp.assetType.assetTypeCode">Asset Type Code</span></dt>
                <dd>
                    <span jhiTranslate="{{'majerithzAnalySisApp.AssetsTypeCode.' + assetType.assetTypeCode}}">{{assetType.assetTypeCode}}</span>
                </dd>
                <dt><span jhiTranslate="majerithzAnalySisApp.assetType.assetTypeName">Asset Type Name</span></dt>
                <dd>
                    <span>{{assetType.assetTypeName}}</span>
                </dd>
                <dt><span jhiTranslate="majerithzAnalySisApp.assetType.assetTypeDescription">Asset Type Description</span></dt>
                <dd>
                    <span>{{assetType.assetTypeDescription}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/asset-type', assetType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
