<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-safeguards-package-heading" jhiTranslate="majerithzAnalySisApp.safeguardsPackage.home.createOrEditLabel">Create or edit a Safeguards Package</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!safeguardsPackage.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="safeguardsPackage.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="majerithzAnalySisApp.safeguardsPackage.safeguardsPackageName" for="field_safeguardsPackageName">Safeguards Package Name</label>
                    <input type="text" class="form-control" name="safeguardsPackageName" id="field_safeguardsPackageName"
                        [(ngModel)]="safeguardsPackage.safeguardsPackageName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="majerithzAnalySisApp.safeguardsPackage.safeguardsPackageCommentary" for="field_safeguardsPackageCommentary">Safeguards Package Commentary</label>
                    <input type="text" class="form-control" name="safeguardsPackageCommentary" id="field_safeguardsPackageCommentary"
                        [(ngModel)]="safeguardsPackage.safeguardsPackageCommentary" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.safeguardsPackageCommentary?.dirty && editForm.controls.safeguardsPackageCommentary?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.safeguardsPackageCommentary?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="majerithzAnalySisApp.safeguardsPackage.effectivenessAgainstDegradation" for="field_effectivenessAgainstDegradation">Effectiveness Against Degradation</label>
                    <input type="number" class="form-control" name="effectivenessAgainstDegradation" id="field_effectivenessAgainstDegradation"
                        [(ngModel)]="safeguardsPackage.effectivenessAgainstDegradation" min="0" jhiMin="0" max="100" jhiMax="100"/>
                    <div [hidden]="!(editForm.controls.effectivenessAgainstDegradation?.dirty && editForm.controls.effectivenessAgainstDegradation?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.effectivenessAgainstDegradation?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.effectivenessAgainstDegradation?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 100 }">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.effectivenessAgainstDegradation?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="majerithzAnalySisApp.safeguardsPackage.effectivenessAgainstLikelihood" for="field_effectivenessAgainstLikelihood">Effectiveness Against Likelihood</label>
                    <input type="number" class="form-control" name="effectivenessAgainstLikelihood" id="field_effectivenessAgainstLikelihood"
                        [(ngModel)]="safeguardsPackage.effectivenessAgainstLikelihood" min="0" jhiMin="0" max="100" jhiMax="100"/>
                    <div [hidden]="!(editForm.controls.effectivenessAgainstLikelihood?.dirty && editForm.controls.effectivenessAgainstLikelihood?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.effectivenessAgainstLikelihood?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.effectivenessAgainstLikelihood?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 100 }">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.effectivenessAgainstLikelihood?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="majerithzAnalySisApp.safeguardsPackage.asset" for="field_asset">Asset</label>
                    <select class="form-control" id="field_asset" name="asset" [(ngModel)]="safeguardsPackage.asset" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="assetOption.id === safeguardsPackage.asset?.id ? safeguardsPackage.asset : assetOption" *ngFor="let assetOption of assets; trackBy: trackAssetById">{{assetOption.assetName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="majerithzAnalySisApp.safeguardsPackage.safeguard" for="field_safeguard">Safeguard</label>
                    <select class="form-control" id="field_safeguard" name="safeguard" [(ngModel)]="safeguardsPackage.safeguard" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="safeguardOption.id === safeguardsPackage.safeguard?.id ? safeguardsPackage.safeguard : safeguardOption" *ngFor="let safeguardOption of safeguards; trackBy: trackSafeguardById">{{safeguardOption.safeguardName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
