<div>
    <h2 id="page-heading">
        <span jhiTranslate="majerithzAnalySisApp.safeguardSubType.home.title">Safeguard Sub Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-safeguard-sub-type" [routerLink]="['/safeguard-sub-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="majerithzAnalySisApp.safeguardSubType.home.createLabel">
            Create new Safeguard Sub Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="safeguardSubTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="majerithzAnalySisApp.safeguardSubType.safeguardsTypeCode">Safeguards Type Code</span></th>
            <th><span jhiTranslate="majerithzAnalySisApp.safeguardSubType.codeSafeguardSubType">Code Safeguard Sub Type</span></th>
            <th><span jhiTranslate="majerithzAnalySisApp.safeguardSubType.safeguardSubTypeName">Safeguard Sub Type Name</span></th>
            <th><span jhiTranslate="majerithzAnalySisApp.safeguardSubType.safeguardSubTypeDescription">Safeguard Sub Type Description</span></th>
            <th><span jhiTranslate="majerithzAnalySisApp.safeguardSubType.safeguardType">Safeguard Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let safeguardSubType of safeguardSubTypes ;trackBy: trackId">
                <td><a [routerLink]="['/safeguard-sub-type', safeguardSubType.id, 'view' ]">{{safeguardSubType.id}}</a></td>
                <td jhiTranslate="{{'majerithzAnalySisApp.SafeguardsTypeCode.' + safeguardSubType.safeguardsTypeCode}}">{{safeguardSubType.safeguardsTypeCode}}</td>
                <td>{{safeguardSubType.codeSafeguardSubType}}</td>
                <td>{{safeguardSubType.safeguardSubTypeName}}</td>
                <td>{{safeguardSubType.safeguardSubTypeDescription}}</td>
                <td>
                    <div *ngIf="safeguardSubType.safeguardType">
                        <a [routerLink]="['../safeguard-type', safeguardSubType.safeguardType?.id, 'view' ]" >{{safeguardSubType.safeguardType?.safeguardTypeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/safeguard-sub-type', safeguardSubType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/safeguard-sub-type', safeguardSubType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'safeguard-sub-type/'+ safeguardSubType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
